<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <authentication mode="Windows"/>    
    <compilation debug="true"  targetFramework="4.0"/>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>      
    </authorization>
  </system.web>
  <location path="ResTesting">
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="feedback.aspx"/>
      </files>
    </defaultDocument>    
  </system.webServer>
  </location>
</configuration>